
#weatherstation-block {
  background-size: cover;
  width: 100%;
  &.small {
    display: block;
    height: auto;
  }
  &.large {
    display: table;
  }
}

.spinner {
  height: 28px;
  top: 40%;
  left: calc(50% - 28px);
  width: 28px;
  animation: rotate 0.8s infinite linear;
  border: 8px solid #333;
  border-right-color: transparent;
  border-radius: 50%;
  position: absolute;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
