@font-face {
  font-family: 'Roboto';
  font-weight: 800;
  font-style: normal;
  src: url(../../../fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  src: url(../../../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  font-style: normal;
  src: url(../../../fonts/Roboto-Thin.ttf);
}

$main-color: #eee;
$second-color: #1d84c3;

$font: 'Roboto-Black';

#weatherstation-block {
  min-height: 200px;
  text-shadow: 1px 1px 7px #000;
  font-family: 'Roboto';
  #weatherstation-slogan {
    display: table-cell;
    vertical-align: middle;
    p {
      text-align: center;
      font-weight: bold;
      color: $main-color;
      letter-spacing: 2px;
      opacity: 0.9;
      padding: 3%;
    }
  }
  #weatherstation-details {
    text-align: center;
    color: $main-color;
    height: inherit;
    width: 100%;
    display: block;
    background: rgba(136, 136, 136, 0.2);
    #weatherstation-temp {
      line-height: 1;
      padding-top: 10%;
      font-weight: 100;
      text-align: center;
    }
    #weatherstation-loc {
      text-align: center;
      color: $main-color;
    }
    #weatherstation-info {
      text-transform: capitalize;
    }
  }
  &.small {
    #weatherstation-slogan {
      p {
        font-size: 1.4em;
      }
    }
    #weatherstation-temp {
      font-size: 5em;
    }
    #weatherstation-info {
      padding: 10% 5%;
      font-size: 2em;
    }
  }

  &.large {
    #weatherstation-details {
      min-width: 320px;
    }
    #weatherstation-slogan {
      p {
        font-size: 2em;
      }
    }
    #weatherstation-temp {
      font-size: 8em;
    }
    #weatherstation-info {
      font-size: 2vw;
      padding: 20px;
    }
  }
}
