@font-face {
  font-family: 'Roboto';
  font-weight: 800;
  font-style: normal;
  src: url(../../../fonts/Roboto-Black.ttf);
}
@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  src: url(../../../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  font-style: normal;
  src: url(../../../fonts/Roboto-Thin.ttf);
}
/* line 27, ../../sass/theme/modern.scss */
#weatherstation-block {
  text-shadow: 1px 1px 7px #000;
  font-family: 'Roboto';
}
/* line 31, ../../sass/theme/modern.scss */
#weatherstation-block #weatherstation-slogan {
  display: table-cell;
  vertical-align: middle;
}
/* line 34, ../../sass/theme/modern.scss */
#weatherstation-block #weatherstation-slogan p {
  text-align: center;
  font-weight: bold;
  color: #eee;
  letter-spacing: 2px;
  opacity: 0.9;
  padding: 3%;
}
/* line 43, ../../sass/theme/modern.scss */
#weatherstation-block #weatherstation-details {
  text-align: center;
  color: #eee;
  height: inherit;
  width: 100%;
  display: block;
  background: rgba(136, 136, 136, 0.2);
}
/* line 50, ../../sass/theme/modern.scss */
#weatherstation-block #weatherstation-details #weatherstation-temp {
  line-height: 1;
  padding-top: 10%;
  font-weight: 100;
  text-align: center;
}
/* line 56, ../../sass/theme/modern.scss */
#weatherstation-block #weatherstation-details #weatherstation-loc {
  text-align: center;
  color: #eee;
}
/* line 60, ../../sass/theme/modern.scss */
#weatherstation-block #weatherstation-details #weatherstation-info {
  text-transform: capitalize;
}
/* line 66, ../../sass/theme/modern.scss */
#weatherstation-block.small #weatherstation-slogan p {
  font-size: 1.4em;
}
/* line 70, ../../sass/theme/modern.scss */
#weatherstation-block.small #weatherstation-temp {
  font-size: 5em;
}
/* line 73, ../../sass/theme/modern.scss */
#weatherstation-block.small #weatherstation-info {
  padding: 10% 5%;
  font-size: 2em;
}
/* line 80, ../../sass/theme/modern.scss */
#weatherstation-block.large #weatherstation-details {
  min-width: 320px;
}
/* line 84, ../../sass/theme/modern.scss */
#weatherstation-block.large #weatherstation-slogan p {
  font-size: 2em;
}
/* line 88, ../../sass/theme/modern.scss */
#weatherstation-block.large #weatherstation-temp {
  font-size: 8em;
}
/* line 91, ../../sass/theme/modern.scss */
#weatherstation-block.large #weatherstation-info {
  font-size: 2vw;
  padding: 20px;
}
